/*Меню у незарегистрированного пользователя*/
.nav-default {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* ссылки у незарегистрированного пользователя */
.nav-default__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  transition: all 0.1s linear;
}

.nav-default__link:hover {
  opacity: 0.7;
}

/*Кнопка меню незарегистрированного пользователя*/
.nav-default__link-btn {
  background-color: #3456F3;
  color: #fff;
  border-radius: 3px;
  transition: all 0.1s linear;
  padding: 8px 20px;
}

.nav-default__link-btn:hover {
  opacity: 0.7;
}

/*Кнопка бургер меню*/
.burger-menu-btn {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background: no-repeat center url(../../images/burger-icon.svg);
  cursor: pointer;
}

.burger-menu-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .burger-menu-btn {
    width: 40px;
    height: 43px;
    background-size: 100%;
  }
}
