.register {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
}

.register__container {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 70px;
  margin: 0 auto;
}

.register__logo-link {
  height: 38px;
  align-self: flex-start;
  transition: all 0.3s linear;
}

.register__logo-link:hover {
  opacity: 0.8;
}

.register__logo {
  width: 38px;
}

.register__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  padding: 0;
  margin: 40px 0 22px 0;
  align-self: flex-start;
}

.register__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register__label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #A0A0A0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 19px;
  position: relative;
}

.register__label::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  position: absolute;
  top: 64px;
}

.register__input {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 0 0 0;
  margin: 0;
}

.register__label:focus-within::after {
  border-bottom: 1px solid #3456F3;
}

.register__input_password {
  color: #EE3465;
}

.register__input-error {
  font-size: 10px;
  font-weight: 400;
  color: #EE3465;
  min-height: 16px;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.register__global-error {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  min-height: 12px;
  padding: 0;
  margin: 0 0 65px;
  color: #EE3465;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.register__btn {
  all: unset;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 69px 0 0 0;
}

.register__btn:hover {
  opacity: 0.8;
}

.register__btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.register__btn_save {
  font-weight: 500;
  color: #fff;
  background-color: #3456F3;
  height: 45px;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.register__btn_link {
  font-weight: 400;
  color: #3456F3;
  margin: 0 0 0 6px;
}

.register__bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px 0 0 0;
}

.register__bottom-container-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .register__container {
    padding: 232px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .register__container {
    max-width: 260px;
    padding: 58px 0 30px;
  }


  .register__logo-link {
    align-self: center;
  }

  .register__title {
    align-self: center;
    margin: 50px 0 61px 0;
  }

  .register__global-error {
    margin: 0 0 65px;
  }

  .register__btn {
    font-size: 12px;
    line-height: 15px;
    margin: 157px 0 0 0;
  }

  .register__btn_link {
    margin: 0 0 0 6px;
  }

  .register__bottom-container-text {
    font-size: 12px;
    line-height: 15px;
  }
}
